.jumbotron {
  background-image: url("../img/header.jpg");
  background-size: cover;
}

#header {
  text-align: right;
  color: red;
  font-size: 80px;
  font-family: 'Pacifico', cursive;
}



#buttons {
  text-align: center;
  display: inline-block;
}
body {
  background-image: url("/assets/img/background.jpg");
  padding-top: 70px;
}

.deleteNote {
display: inline-block;
}

.previousNotes {
  display: inline-block;
  width: 90%
}

#scrape {
  margin: 8px;
}
